[Unit]
Description=LNBits
Wants=lightning.service 
After=lightning.service 

[Service]
# ExecStartPre=/usr/bin/is_not_shutting_down.sh
# ExecStartPre=/usr/bin/wait_on_lnd.sh

WorkingDirectory=/home/ceo/lnbits
ExecStart=/home/ceo/lnbits/venv/bin/hypercorn -k trio --bind 0.0.0.0:5000 "lnbits.app:create_app()"

User=ceo
Group=ceo
TimeoutSec=240
Restart=always
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lnbits

[Install]
WantedBy=multi-user.target
